fastapi
httpx
networkx
numpy
openai
pandas
pandas>=2.2
plotly>=5.22
psycopg2-binary>=2.9
pydantic
pypdf
pytest
python-docx
python-multipart
pyvis
regex
requests
scikit-learn
streamlit
streamlit==1.36.0
tqdm
uvicorn